header > div {
    color:gold;
}
/* Added flexbox to header */
header {
    max-width: 100%;
    display:flex;
    align-items:center;
    justify-items: center;
    justify-content: space-around;

    #logo {
        width: 20vw; 
    }
    img {
        width: 15vw;
    }

}
#menu {
    display: none;
    position: fixed;
    top: 50px;
    background-color: dimgrey;
    height: 55vh;
    width: 65vw;
    margin-top: 15vh;
    z-index: 1;
}
        
.menubutton {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;        
    align-items: center;
    justify-items: center;
    text-indent: 25vw;
    color: gold; 
    border: solid gold 2px;
    width:fit-content;
    margin-top: 25px;
    list-style: none;
    background-position: center;
    font-size: 2rem;       
    }
#menutoggle:checked ~ #menu {
    display: block;
}
#menutoggle {
    display: none;
}
#phonetoggle:checked ~ div {
    display:block;
}
#phonetoggle {
    display:none;
}
#phone {
    display: none;
    position: fixed;
    top: 50px;
    background-color: rgb(209, 208, 208);
    height:fit-content;
    width:fit-content;
    margin-top:15vh;
    font-size: 2em;
}
label {
    user-select: none;
}
label > img {
    width: 15vw;
}
