header > div {
    color:gold;
}
/* Added flexbox to header */
header {
    max-width: 100%;
    display:flex;
    align-items:center;
    justify-items: center;
    justify-content: space-around;

    #logo {
        width: 20vw; 
    }
    #phoneimage{
        width: 15vw;
    }

}
#menu {
    display: none;
    position: fixed;
    border:gold solid 2px;
    top: 50px;
    background-color: dimgrey;
    height: 70vh;
    width: 65vw;
    margin-top: 15vh;
    z-index: 1;
}
        
.menubutton {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;        
    text-align:center;
    color: gold; 
    border: solid gold 2px;
    width:fit-content;
    margin-top: 25px;
    list-style: none;
    background-position: center;
    font-size: 2rem;       
    }
#menutoggle:checked ~ #menu {
    display: block;
}
#menutoggle {
    display: none;
}

#contactinfo {
    display:none;
}

label {
    user-select: none;
}
label > img {
    width: 15vw;

}

@media only screen and (min-width: 600px) {
    #phoneimage {
        display: none;
    }
    #contactinfo {
        display:block;
        color:gold;
        :active {
            color: gold;
    }
}}

