/* Tablet*/

@media only screen and (min-width:600px){

    /* Main Page */
    #heading {
        height: 15vh;
        padding-top:3vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        #welcome {
            grid-row-start: 1;
            grid-row-end: 2;
            font-size: 1.5em;
            justify-content: center;
            align-content: center;
        }
        p {
            grid-row-start: 2;
            grid-row-end: 3;
            font-size: 1.5em;
            justify-self: center;
            align-self: center;
        }
    }

    h2 {
        text-align: center;
    }

    #tabletimgcontainer {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        padding-top: 3vh;
    }
    #maintabletimg {
        display:block;
        width:80vw;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .text {
        display:grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        margin-top: 3vh;
        img {
            grid-column-start: 1;
            grid-column-end: 2;
            width:40vw;
        }
        p {
            grid-column-start: 2;
            grid-column-end: 3;
            padding: 3vh;
            text-align: center;
            align-self: center;
            justify-self: center;
        }
        h5{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
        }
    }

    #story {
        margin-top:3vh;
        color: gold;
        display: block;
        margin-left: 10vw;
        margin-right: 10vw;
    }


    #contactheading > p {
        display:none;
    }

    /* Contact */
    
    #hourscontainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 100%;
        justify-content: center;
        align-items:center;
        address {
            padding-left: 2vw;
        }
        
    }

        /* Menu */
    #menucontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items:center;
        #appetizers {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        #wings {
            height: 55vh;
        }

        .images {
            margin-left: 2.5vw;
            width:40vw;
            height:55vh;
        }
        #pizzamenu {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        #pizzaoven {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        #pastamenu {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        #drinkmenu {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        #wine {
            height: 80vh;
        }
    }
    .menunav {
        margin-left: 3vw;        
    }

}

@media only screen and (min-width:992px) {

    #mainnav {
        margin-top: 3vh;
        height: 7vh;
        display:flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: gold solid;
        border-top: gold solid;
        background-color: firebrick;
        a:hover {
            background-color:gold;
            color:firebrick;    
        }
        }
.menunav:active {
    color: rgb(131, 48, 48);
}
.menunav:hover {
    height:5vh;
    color:firebrick;
    transition-property: height 7vh;
    transition-duration: 1.5s;
    -o-transition-timing-function: ease-in;
}



#appetizers {
    border:firebrick solid;
    background-color: rgb(77, 72, 72);
}
#pizzamenu {
    border:firebrick solid;
    background-color: rgb(77, 72, 72);
    
}
#pastamenu {
    border:firebrick solid;
    background-color: rgb(77, 72, 72);
}
#drinkmenu {
    border: firebrick solid;
    background-color: rgb(77, 72, 72);
}
}