

.images {
    width:80vw;
}

nav {
    font-size: 1.5em;
}

div h1 {
    margin-left: 35vw;
    color: gold;
}

#topimage {
    margin-left:10vw;
}

#appetizers {
    h3 {
        margin-left: 35vw;
        padding-top:2vh;
        color:red;
    }
    h4 {
        padding-top: 2vh;
    }
    p{
        margin-left: 10vw;
    }
    .price {
        margin-left:40vw;
        color:gold;
    }
}

/* Menu Items */
#pizzamenu {
    h3 {
        margin-left: 40vw;
        padding-top:2vh;
        color:red;
    }
    h4 {
        padding-top: 2vh;
    }
    p{
        margin-left: 10vw;
    }
    .price {
        margin-left:40vw;
        color:gold;
    }
}

#pastamenu {
    h3 {
        margin-left: 40vw;
        padding-top:2vh;
        color:red;
    }
    h4 {
        padding-top: 2vh;
    }
    p{
        margin-left: 10vw;
    }
    .price {
        margin-left:40vw;
        color:gold;
    }
}

#drinkmenu {
    h3 {
        margin-left: 40vw;
        padding-top:2vh;
        color:red;
    }
    h4 {
        padding-top: 2vh;
    }
    p{
        margin-left: 10vw;
    }
    .price {
        margin-left:40vw;
        color:gold;
    }
}

