

.images {
    width:80vw;
    margin-left:10vw;
    margin-top: 5vh;
}

nav {
    text-align: center;
    a{
        color:gold;
    }
    
    :active {
        color:gold;
    }
    font-size: 1.5em;
}

div h1 {
    text-align: center;
    color: gold;
    padding-top: 3vh;
}

#appetizers {
    h3 {
        text-align: center;
        padding-top:3vh;
        color:red;
    }
    h4 {
        padding-top: 2vh;
    }
    p {
        text-align: center;
    }
    .price {
        text-align:center;
        color:red;
    }
}

/* Menu Items */
#pizzamenu {
    h3 {
        text-align: center;
        padding-top:2vh;
        color:red;
    }
    h4 {
        padding-top: 3vh;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .price {
        text-align: center;
        color: red;
    }
}

#pastamenu {
    h3 {
        text-align: center;
        padding-top:2vh;
        color:red;
    }
    h4 {
        padding-top: 2vh;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .price {
        text-align: center;
        color:red;
    }
}

#drinkmenu {
    h3 {
        text-align: center;
        padding-top:2vh;
        color:red;
    }
    h4 {
        padding-top: 2vh;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .price {
        text-align: center;
        color:red;
    }
}

