* {
    margin: 0px;
    padding: 0px;
}
html {
    background-color: rgb(84, 90, 97);
}


@import "_header";
@import "_menu";
@import "_mediaQ";



#mainnav {
    display: none;
}
#heading {
    font-size: 1em;
    color:gold;
    text-align: center;
}

iframe {
    width:80vw;
    height:60vh;
    padding-top:3vh;
    padding-left: 10vw;
}

#story {
    display: none;
}

.photo {
    width: 80vw;
    padding-left:5vw;
    padding-top: 2vh;
}

.text {
    color:gold;
    p {
        text-align:center
    }
    q {
        color:honeydew;
        margin-left:5vw;
    }
    h5 {
        text-align: right;
        padding-right: 15vw;
    }
}
#maintabletimg {
    display: none;
}


/* Hours of Operation */
#contactheading > p {
    text-align: center;
    color: gold;
}
#contactheading > h1 {
    margin: 0px;
    text-align: center;
}

h4 {
    color:gold;
    text-align:center;
    
}

ul {
    padding-top: 3vh;
    list-style: none;
    color:gold;
    text-align:center;
}

address {
    color: red;
    text-align: center;
}
.mapouter {
    #gmap_canvas{
        width: 80vw;
    }
    

}

/* Social Media button links*/
#socials {
    padding-top: 3vh;
    padding-bottom: 3vh;
    display:flex;
    max-width: 100%;
    justify-content: space-evenly;
    

        svg {
            height: 5vh;
            padding-left: 3vw;
            color:gold;
    }
}



footer {
    height:10vh;
    border-top: solid gold 1px;
    color:gold;
    text-align:center;
}

