* {
    margin: 0px;
    padding: 0px;
}
html {
    background-color: rgb(84, 90, 97);
}


@import "_header";
@import "_menu";


#heading {
    font-size: 1em;
    padding-top: 3vh;
    padding-left:5vw;
    color:gold;
}

iframe {
    width:80vw;
    height:60vh;
    padding-top:3vh;
    padding-left: 10vw;
}

.photo {
    width: 80vw;
    padding-left:5vw;
    padding-top: 2vh;
}

.text {
    color:gold;
    p {
        text-indent: 7vw;
    }
    q {
        color:honeydew;
        margin-left:5vw;
    }
    h5 {
        text-indent: 10vw;
    }
}



/* Hours of Operation */
#contactheading {
    margin-right:vw;
}
h4 {
    color:gold;
    text-indent:43vw;
}

ul {
    padding-top: 3vh;
    list-style: none;
    color:gold;
    text-indent: 15vw;
}
.mapouter {
    #gmap_canvas{
        width: 80vw;
    }
    

}

/* Social Media button links*/
#socials {
    padding-top: 3vh;
    padding-left: 25vw;
    padding-bottom: 3vh;
    align-items: center;
    justify-items: center;
        svg {
            height: 5vh;
            padding-left: 3vw;
            color:gold;
    }
}



footer {
    border-top: solid gold 1px;
    color:gold;
    text-indent: 25vw;
}