* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #545a61;
}

header > div {
  color: gold;
}

/* Added flexbox to header */
header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

header #logo {
  width: 20vw;
}

header img {
  width: 15vw;
}

#menu {
  display: none;
  position: fixed;
  top: 50px;
  background-color: dimgrey;
  height: 55vh;
  width: 65vw;
  margin-top: 15vh;
  z-index: 1;
}

.menubutton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-indent: 25vw;
  color: gold;
  border: solid gold 2px;
  width: fit-content;
  margin-top: 25px;
  list-style: none;
  background-position: center;
  font-size: 2rem;
}

#menutoggle:checked ~ #menu {
  display: block;
}

#menutoggle {
  display: none;
}

#phonetoggle:checked ~ div {
  display: block;
}

#phonetoggle {
  display: none;
}

#phone {
  display: none;
  position: fixed;
  top: 50px;
  background-color: dimgrey;
  height: fit-content;
  width: fit-content;
  margin-top: 15vh;
  font-size: 3em;
}

label {
  user-select: none;
}

label > img {
  width: 15vw;
}

.images {
  width: 80vw;
}

nav {
  font-size: 1.5em;
}

div h1 {
  margin-left: 35vw;
  color: gold;
}

#topimage {
  margin-left: 10vw;
}

#appetizers h3 {
  margin-left: 35vw;
  padding-top: 2vh;
  color: red;
}

#appetizers h4 {
  padding-top: 2vh;
}

#appetizers p {
  margin-left: 10vw;
}

#appetizers .price {
  margin-left: 40vw;
  color: gold;
}

/* Menu Items */
#pizzamenu h3 {
  margin-left: 40vw;
  padding-top: 2vh;
  color: red;
}

#pizzamenu h4 {
  padding-top: 2vh;
}

#pizzamenu p {
  margin-left: 10vw;
}

#pizzamenu .price {
  margin-left: 40vw;
  color: gold;
}

#pastamenu h3 {
  margin-left: 40vw;
  padding-top: 2vh;
  color: red;
}

#pastamenu h4 {
  padding-top: 2vh;
}

#pastamenu p {
  margin-left: 10vw;
}

#pastamenu .price {
  margin-left: 40vw;
  color: gold;
}

#drinkmenu h3 {
  margin-left: 40vw;
  padding-top: 2vh;
  color: red;
}

#drinkmenu h4 {
  padding-top: 2vh;
}

#drinkmenu p {
  margin-left: 10vw;
}

#drinkmenu .price {
  margin-left: 40vw;
  color: gold;
}

#heading {
  padding-top: 3vh;
  padding-left: 15vw;
  color: gold;
}

iframe {
  width: 80vw;
  height: 60vh;
  padding-top: 3vh;
  padding-left: 5vw;
}

.photo {
  width: 80vw;
  padding-left: 5vw;
  padding-top: 2vh;
}

.text {
  color: gold;
}

.text p {
  text-indent: 15vw;
}

.text q {
  color: honeydew;
}

h4 {
  color: gold;
  text-indent: 42vw;
}

ul {
  padding-top: 3vh;
  list-style: none;
  color: gold;
  text-indent: 30vw;
}

.mapouter {
  width: 80vw;
}

/* Social Media button links*/
#socials {
  padding-top: 3vh;
  padding-left: 25vw;
  padding-bottom: 3vh;
  align-items: center;
  justify-items: center;
}

#socials svg {
  height: 5vh;
  padding-left: 3vw;
  color: gold;
}

footer {
  border-top: solid gold 1px;
  color: gold;
  text-indent: 25vw;
}
/*# sourceMappingURL=style.css.map */